@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Mulish:ital@0;1&family=Poppins:wght@400;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(https://images.unsplash.com/photo-1604134967494-8a9ed3adea0d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

h1{
    font-size: 4rem;
    margin-top: -5rem;
    color: #ff0000;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;

}

.countdown-container{
    display: flex;
}